* {
    box-sizing: border-box;
  }

  html {
    height: 100%;
    font-family:sans-serif,Arial,helvetica;
  }

  body {
    background-color: #2b2d42;
    color: #edf2f4;
    margin: 0;
    min-height: 100%;
  }

   
  .nav-right {
    float: right;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #EF233C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }

  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color:  #D90429;
  }

  .show {
    display: block;
  }
  .home-container{
      width:100%;
      display: flex;
      justify-content: center;
  }
  #img-home{
      position: relative;
      margin-left: -280px;
      padding: 2rem;
  }

  #img-home img{
      position: absolute;
      left: 0;
      transition: opacity 1s ease-in-out;
  }

  #img-home .home-imageTwo{
      animation-name: imgFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;
  }

  #img-home .home-imageOne{
      animation-name: imgFadeOutIn;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;
  }

  .home-body{
      margin-top: 12rem;
  }

  .home-body h1{
      text-align: center;
  }

  .home-body h3,p{
      padding: 18px;
  }


  @keyframes imgFadeInOut{
      0% {
          opacity:1;
      }
      45% {
          opacity:1;
      }
      55% {
          opacity:0;
      }
      100% {
          opacity:0;
      }
  }

  @keyframes imgFadeOutIn{
      0% {
          opacity:0;
      }
      45% {
          opacity:0;
      }
      55% {
          opacity:1;
      }
      100% {
          opacity:1;
      }
  }

  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      font-size: 14px;
    }
    .nav-right{
        float: none;
    }
    .home-body h3,p{
        padding: 10px;
    }
    .dropdown, .dropbtn{
        width: 100%
    }
    .navbar .dropbtn {
      float: none;
      display: block;
      font-size: 14px;
    }
    .dropdown-content a{
        text-align: center;
    }
    .show {
      display: contents;
      }
  }

  /*splitting into 4 columns photos and hovering the background screen showing the text course insights*/
.container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width:250px;
    height:250px;
    margin-left: auto;
    margin-right: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .column {
    float: left;
    width: 25%;
  }

