* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family:sans-serif,Arial,helvetica;
}

body {
  background-color: #2b2d42;
  color: #edf2f4;
  margin: 0;
  min-height: 100%;
}

.navbar {
  width: 100%;
  background-color: #EF233C;
  overflow: auto;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #D90429;
}

.nav-right {
  float: right;
}

.home-container{
    width:100%;
    display: flex;
    justify-content: center;
}
#img-home{
    position: relative;
    margin-left: -280px;
    padding: 2rem;
}

#img-home img{
    position: absolute;
    left: 0;
    transition: opacity 1s ease-in-out;
}

#img-home .home-imageTwo{
    animation-name: imgFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

#img-home .home-imageOne{
    animation-name: imgFadeOutIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

.home-body{
    margin-top: 12rem;
}

.home-body h1{
    text-align: center;
}

.home-body h3,p{
    padding: 18px;
}


@keyframes imgFadeInOut{
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

@keyframes imgFadeOutIn{
    0% {
        opacity:0;
    }
    45% {
        opacity:0;
    }
    55% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    font-size: 14px;
  }
  .nav-right{
      float: none;
  }
  .home-body h3,p{
      padding: 10px;
  }
}
