{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Builder</title>
    <link rel="icon" type="image/jpg" href="{% static 'Images/pb_logo.jpg' %}">

    <!--Google Fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!--Bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/04a54148ef.js"
      crossorigin="anonymous"
    ></script>

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'CSS/signup.css' %}" />



    <!--JS-->
    <script src="{% static 'JS/signup.js' %}"></script>

  </head>
  <body>
    <div class="container-fluid">
          <div class="row" style="padding-right:250px;">
            <div class="col col-lg-12" style="padding-top:50px;">
              <div class="reg-box" id="reg-box" style="width:700px;">
                <div class="reg-form" id="reg-form" >
                  <div class = "text_su"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Projects</h3></div><br>
                  <form>
                    {% csrf_token %}
                        {% for i in projects %}
                            {% for j in i %}  
                                {%for k in j%}
                                    {% if k in areas %}
                                        <label  style = "text-transform:capitalize;font-size:20px;"><b>{{k}} :</b></label>
                                    {% else %}
                                        <div class="form-group">   
                                            <!--<a style = "text-transform:capitalize;" href="{% url 'teacher_profile' 11 %}"> My Profile</a>-->  
                                            <p style = "text-transform:capitalize;"><span class="fa fa-star"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{k}}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>
</html>
