{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password reset</title>
  <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="icon" type="image/jpg" href="{% static 'Images/pb_logo.jpg' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'index' %}"><span class="fa fa-home"></span> Home</a>
        <div class="nav-right">
        <a href="{% url 'login' %}"><span class="fa fa-sign-in-alt"></span> Login</a>
        <a href="{% url 'register' %}"><span class="fa fa-user"></span> Register</a>
        </div>
    </div>
      <div class="align">
              <div class="grid align__item">
                  <div class="login">
              <h2>Password Reset</h2>
              <form action="" method="post" class="form">
                  <div class="form__field">
                    <input class="input_field" type="text" placeholder="Username" required>
                  </div>
                <div class="form__field">
                  <input class="input_field" type="password" placeholder="New Password" required>
                </div>
                <div class="form__field">
                  <input class="input_field" type="password" placeholder="Confirm Password" required>
                </div>
                <div class="PR_button">
                  <input type="submit" value="Submit">
                </div>
              </form>
            </div>
      </div>
  </div>
</body>
</html>
