{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="{% static 'Images/pb_logo.jpg' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  
  
  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>

<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>

<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" type = text/css href="{% static 'CSS/alert.css' %}">
<link rel="stylesheet" type = text/css href="{% static 'css/index.css' %}">
  
<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>

</head>
<body>
    <div class="navbar">
        <a href="#"><i class="fa fa-home"></i> Home</a>
        <div class="nav-right">
        <a href="{% url 'changePassword' %}"><i class="fa fa-key"></i> Change Password</a>
        <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> Logout</a>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% for message in messages %}
         {{message}}
        {% endfor %}
    </div>
    <br>
    {% endif %}
</body>
</html>
