{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="{% static 'Images/pb_logo.jpg' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />


  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>

<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>

<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" type = text/css href="{% static 'CSS/alert.css' %}">
<link rel="stylesheet" type = text/css href="{% static 'css/index.css' %}">
<link rel="stylesheet" type = text/css href="{% static 'css/table.css' %}">

<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>

</head>
<body>
    <div class="navbar">
        <a href="#"><span class="fa fa-home"></span> Home</a>
        <div class="nav-right">
              <div class="dropdown">
                  <button class="dropbtn" onclick="myFunction()"><span class="fa fa-user"></span> {{username}}
                    <span class="fa fa-caret-down"></span>
                  </button>
                  <div class="dropdown-content" id="myDropdown">
                      <a href="{% url 'teacher_profile' %}"><span class="fa fa-user-circle"></span> My Profile</a>
                      <a href="{% url 'changePassword' %}"><span class="fa fa-key"></span> Change Password</a>
                      <a href="{% url 'logout' %}"><span class="fa fa-sign-out-alt"></span> Logout</a>
                  </div>
              </div>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% for message in messages %}
         {{message}}
        {% endfor %}
    </div>
    <br>
    {% endif %}
    <div class="container">
        <div class="form-group">
		<h3 style="margin-bottom: 5px;">Select Number Of Rows</h3>
    </div>
				<div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
			 		<select class="form-control" name="state" id="maxRows">
						 <option value="5000">Show ALL Rows</option>
						 <option value="5">5</option>
						 <option value="10">10</option>
						 <option value="20">20</option>
						 <option value="50">50</option>
						 <option value="100">100</option>
					</select>
                    <div>
                    <input type="text" id="facultySearch" onkeyup="searchFaculty()" placeholder="Search for names" title="Type a Faculty Name"/>
                    <input type="text" id="aoiSearch" onkeyup="searchFaculty()" placeholder="Search for areas of interest" title="Type area of interest"/>
                    <input type="button" class="filter_btn" value="Clear filter" onclick="clearFilter()"/>
                    </div>
			  	</div>
        <div style="overflow-x:auto; width:100%">
            <table class="table table-striped table-class" id= "table-id">
                <thead>
                    {% for head in field_names %}
                       <th>{{ head }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                        {% for cell in row %}
                            {% ifequal cell row.1 %}
                                <td class="facultyCell"><a href="{% url 'teacher_profile' %}">{{ cell }}</a></td>
                            {% else %}
                                <td>{{ cell }}</td>
                            {% endifequal %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

<!--		Start Pagination -->
<div class='pagination-container' >
    <nav>
	       <ul class="pagination" style="padding-inline-start: 0;">
               <li data-page="prev" >
				     <span> < <span class="sr-only">(current)</span></span>
                </li>
				<!--Here the JS Function Will Add the Rows -->
                <li data-page="next" id="prev">
			         <span> > <span class="sr-only">(current)</span></span>
			    </li>
		   </ul>
	</nav>
</div>

</div>
    <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
    </script>
    <script>
    getPagination('#table-id');
    var currPagination = $('#maxRows').val();;
    function getPagination(table) {
      var lastPage = 1;
      //currPagination = $('#maxRows').val();
      $('#maxRows')
        .on('change', function(evt) {
        currPagination = $('#maxRows').val();
          //$('.paginationprev').html('');						// reset pagination
         lastPage = 1;
          $('.pagination')
            .find('li')
            .slice(1, -1)
            .remove();
          var trnum = 0; // reset tr counter
          var maxRows = parseInt($(this).val()); // get Max Rows from select option

          if (maxRows == 5000) {
            $('.pagination').hide();
          } else {
            $('.pagination').show();
          }

          var totalRows = $(table + ' tbody tr').length; // numbers of rows
          $(table + ' tr:gt(0)').each(function() {
            // each TR in  table and not the header
            trnum++; // Start Counter
            if (trnum > maxRows) {
              // if tr number gt maxRows

              $(this).hide(); // fade it out
            }
            if (trnum <= maxRows) {
              $(this).show();
            } // else fade in Important in case if it ..
          }); //  was fade out to fade it in
          if (totalRows > maxRows) {
            // if tr total rows gt max rows option
            var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
            //	numbers of pages
            for (var i = 1; i <= pagenum; ) {
              // for each page append pagination li
              $('.pagination #prev')
                .before(
                  '<li data-page="' +
                    i +
                    '">\
    								  <span>' +
                    i++ +
                    '<span class="sr-only">(current)</span></span>\
    								</li>'
                )
                .show();
            } // end for i
          } // end if row count > max rows
          $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
          $('.pagination li').on('click', function(evt) {
            // on click each page
            evt.stopImmediatePropagation();
            evt.preventDefault();
            var pageNum = $(this).attr('data-page'); // get it's number

            var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option

            if (pageNum == 'prev') {
              if (lastPage == 1) {
                return;
              }
              pageNum = --lastPage;
            }
            if (pageNum == 'next') {
              if (lastPage == $('.pagination li').length - 2) {
                return;
              }
              pageNum = ++lastPage;
            }

            lastPage = pageNum;
            var trIndex = 0; // reset tr counter
            $('.pagination li').removeClass('active'); // remove active class from all li
            $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
            // $(this).addClass('active');					// add active class to the clicked
    	  	limitPagging();
            $(table + ' tr:gt(0)').each(function() {
              // each tr in table not the header
              trIndex++; // tr index counter
              // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
              if (
                trIndex > maxRows * pageNum ||
                trIndex <= maxRows * pageNum - maxRows
              ) {
                $(this).hide();
              } else {
                $(this).show();
              } //else fade in
            }); // end of for each tr in table
          }); // end of on click pagination list
    	  limitPagging();
        })
        .val(5)
        .change();
    }

    function limitPagging(){
    	// alert($('.pagination li').length)

    	if($('.pagination li').length > 7 ){
    			if( $('.pagination li.active').attr('data-page') <= 3 ){
    			$('.pagination li:gt(5)').hide();
    			$('.pagination li:lt(5)').show();
    			$('.pagination [data-page="next"]').show();
    		}if ($('.pagination li.active').attr('data-page') > 3){
    			$('.pagination li:gt(0)').hide();
    			$('.pagination [data-page="next"]').show();
    			for( let i = ( parseInt($('.pagination li.active').attr('data-page'))  -2 )  ; i <= ( parseInt($('.pagination li.active').attr('data-page'))  + 2 ) ; i++ ){
    				$('.pagination [data-page="'+i+'"]').show();

    			}

    		}
    	}
    }
/*
    $(function() {
      // Just to append id number for each row
      $('table tr:eq(0)').prepend('<th> ID </th>');

      var id = 0;

      $('table tr:gt(0)').each(function() {
        id++;
        $(this).prepend('<td>' + id + '</td>');
      });
  });*/
    </script>
    <script>
function searchFaculty() {
  var input, filter, table, tr, td, i, txtValue, input1,td1, txtValue1,filter1;
  var maxRows = parseInt($('#maxRows').val());
  input = document.getElementById("facultySearch");
  if(input){
  filter = input.value.toUpperCase();}
  input1 = document.getElementById("aoiSearch");
  if(input1){
  filter1 = input1.value.toUpperCase();}
  table = document.getElementById("table-id");
  tr = table.getElementsByTagName("tr");
  //console.log(filter,filter1,input,input1)
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByClassName("facultyCell")[0];
    td1 = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      txtValue1 = td1.textContent || td1.innerText;
      //console.log(currPagination);
      if(filter && filter1){
              if ((txtValue.toUpperCase().indexOf(filter) > -1) && (txtValue1.toUpperCase().indexOf(filter1) > -1)) {
                tr[i].style.display = "table-row";
                        if (filter || filter1) {
                          $('.pagination').hide();
                          $('#maxRows').val('5000')
                        } else {
                          $('.pagination').show();
                          $('#maxRows').val(currPagination);
                          $('#maxRows').trigger("change");
                      }
              } else {
                tr[i].style.display = "none";
              }
          }
        else if (filter) {
            if ((txtValue.toUpperCase().indexOf(filter) > -1)) {
              tr[i].style.display = "table-row";
                      if (filter) {
                        $('.pagination').hide();
                        $('#maxRows').val('5000')
                      } else {
                        $('.pagination').show();
                        $('#maxRows').val(currPagination);
                        $('#maxRows').trigger("change");
                    }
            } else {
              tr[i].style.display = "none";
            }
        }
        else if (filter1) {
            if ((txtValue1.toUpperCase().indexOf(filter1) > -1)) {
              tr[i].style.display = "table-row";
                      if (filter1) {
                        $('.pagination').hide();
                        $('#maxRows').val('5000')
                      } else {
                        $('.pagination').show();
                        $('#maxRows').val(currPagination);
                        $('#maxRows').trigger("change");
                    }
            } else {
              tr[i].style.display = "none";
            }
        }
        else{
            $('.pagination').show();
            $('#maxRows').val(currPagination);
            $('#maxRows').trigger("change");
        }
    }
  }
}
</script>
<script>
function clearFilter(){
    input = document.getElementById("facultySearch");
    input1 = document.getElementById("aoiSearch");
    input.value ="";
    input1.value="";
    $('.pagination').show();
    $('#maxRows').val(currPagination);
    $('#maxRows').trigger("change");
}
</script>
</body>
</html>
