{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="{% static 'Images/pb_logo.jpg' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type= text/css href="{% static 'CSS/login.css' %}">
    <link rel="stylesheet" type = text/css href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type = text/css href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type = text/css href="{% static 'css/myprofile.css' %}">
    <script src="{% static 'JS/signup.js' %}"></script>
</head>
<body>
    <div class="navbarCustom">
        <a href="{% url 'home' %}"><span class="fa fa-home"></span> Home</a>
        <div class="nav-right">
              <div class="dropdown">
                  <div class="dropbtn" onclick="myFunction()"><span class="fa fa-user"></span> {{username}}
                    <span class="fa fa-caret-down"></span>
                  </div>
                  <div class="dropdown-cntnt" id="myDropdown">
                      <a href="{% url 'myProfile' %}"><span class="fa fa-user-circle"></span> My Profile</a>
                      <a href="{% url 'changePassword' %}"><span class="fa fa-key"></span> Change Password</a>
                      <a href="{% url 'logout' %}"><span class="fa fa-sign-out-alt"></span> Logout</a>
                  </div>
              </div>
        </div>
    </div>
    {% if is_student %}
    <div class="container bootstrap snippets bootdey">
        <div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img src='{{profilepic}}' alt="Profile pic">
              </a>
              <h1>{{first_name}} {{last_name}}</h1>
              <p style="overflow-wrap:break-word;">{{email}}</p>
          </div>

          <ul class="nav nav-pills nav-stacked">
              <li><a href="{% url 'editProfile' %}"> <span class="fa fa-edit"></span> Edit profile</a></li>
          </ul>
      </div>
  </div>
  <div class="profile-info col-md-9">
      <div class="panel">
          <div class="panel-body bio-graph-info">
              <h1>Profile Data</h1>
              <div class="row">
                  <div class="bio-row">
                      <p>
                          <span><span class="icon" data-toggle="modal" data-target="#fnModal">
                                  <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit First Name">
                                  </span>
                              </span>
                              First Name
                          </span>
                          : {{first_name}}
                      </p>
                  </div>
                  <div class="modal fade" id="fnModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="fnModalLabel">Enter First Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                              <div class="form-group" style="text-align: left;">
                                <label for="f-name" class="col-form-label">First Name:</label>
                                <input type="text" class="form-control" id="f-name" name="fname" required>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                          </div>
                         </form>
                        </div>
                      </div>
                    </div>
                  <div class="bio-row">
                      <p><span>
                          <span class="icon" data-toggle="modal" data-target="#lnModal">
                              <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit Last Name">
                              </span>Last Name </span>
                          </span>: {{last_name}}
                      </p>
                      <div class="modal fade" id="lnModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="lnModalLabel">Enter Last Name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="post">
                                    {% csrf_token %}
                                  <div class="form-group" style="text-align: left;">
                                    <label for="l-name" class="col-form-label">Last Name:</label>
                                    <input type="text" class="form-control" id="l-name" name="lname" required>
                                  </div>
                              </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="bio-row">
                      <p><span class="icon" data-toggle="modal" data-target="#cityModal">
                          <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit City"></span>
                          City </span>: {{city}}</p>
                  </div>
                  <div class="modal fade" id="cityModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="lnModalLabel">Enter City</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                              <div class="form-group" style="text-align: left;">
                                  <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" required></select>
                                   <select id ="state" class="form-control" required name="sc"></select>
                                   <script language="javascript">print_state("sts");</script>
                              </div>
                          </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  <div class="bio-row">
                      <p><span class="icon" data-toggle="modal" data-target="#collegeModal">
                          <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit College"></span>
                          College</span>: {{college}}</p>
                  </div>
                  <div class="modal fade" id="collegeModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="collegeModalLabel">Enter College</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                              <div class="form-group" style="text-align: left;">
                                  <select id ="col" class="form-control" required name="col"></select>
                                  <script language="javascript">print_college("col");</script>
                              </div>
                          </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  <div class="bio-row">
                      <p><span class="icon" data-toggle="modal" data-target="#degreeModal">
                          <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit Degree"></span>Degree </span>: {{degree}}</p>
                  </div>
                  <div class="modal fade" id="degreeModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="degModalLabel">Enter Degree</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                              <div class="form-group" style="text-align: left;">
                                  <select id="degree" name ="deg" class="form-control" required></select>
                                  <script language="javascript">print_degree("degree");</script>
                              </div>
                          </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  <div class="bio-row">
                      <p><span class="icon" data-toggle="modal" data-target="#branchModal">
                          <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit Branch"></span>
                          Branch </span>: {{branch}}</p>
                  </div>
                  <div class="modal fade" id="branchModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="branchModalLabel">Enter Branch</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group" style="text-align: left;">
                                    <select id="degree1" name ="deg" class="form-control" required onchange="print_branch('branch', this.selectedIndex);"> </select>
                                    <script language="javascript">print_degree("degree1");</script>
                                    <select id ="branch" class="form-control" required name="brh"></select>
                                </div>

                          </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  <div class="bio-row">
                      <p><span>Email </span>: {{email}}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
    </div>
    {% else %}
    <div class="container bootstrap snippets bootdey">
        <div class="row">
          <div class="profile-nav col-md-3">
              <div class="panel">
                  <div class="user-heading round">
                      <a href="#">
                          <img src="{{profilepic}}" alt="Profile pic">
                      </a>
                      <h1>{{first_name}} {{last_name}}</h1>
                      <p>{{email}}</p>
                  </div>

                  <ul class="nav nav-pills nav-stacked">
                      <li><a href="{% url 'editProfile' %}"> <span class="fa fa-edit"></span> Edit profile</a></li>
                      {% if not listed %}
                      <li><a href="{% url 'faculty_detail' %}"> <span class="fa fa-plus"></span> Add to search results</a></li>
                      {% else %}
                      <li><a href="{% url 'teacher_profile' id_of_faculty %}"> <span class="fa fa-plus"></span> Edit search results</a></li>
                      {% endif %}
                  </ul>
              </div>
          </div>
          <div class="profile-info col-md-9">
              <div class="panel">
                  {% if bio %}
                  <div class="bio-graph-heading">
                      {{bio}}
                  </div>
                  {% endif %}
                  <div class="panel-body bio-graph-info">
                      <h1>Profile Data</h1>
                      <div class="row">
                          <div class="bio-row">
                              <p>
                                  <span><span class="icon" data-toggle="modal" data-target="#fnModal">
                                          <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit First Name">
                                          </span>
                                      </span>
                                      First Name
                                  </span>
                                  : {{first_name}}
                              </p>
                          </div>
                          <div class="modal fade" id="fnModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="fnModalLabel">Enter First Name</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post">
                                        {% csrf_token %}
                                      <div class="form-group" style="text-align: left;">
                                        <label for="f-name" class="col-form-label">First Name:</label>
                                        <input type="text" class="form-control" id="f-name" name="fname" required>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                  </div>
                                 </form>
                                </div>
                              </div>
                            </div>
                          <div class="bio-row">
                              <p><span>
                                  <span class="icon" data-toggle="modal" data-target="#lnModal">
                                      <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit Last Name">
                                      </span>Last Name </span>
                                  </span>: {{last_name}}
                              </p>
                              <div class="modal fade" id="lnModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="lnModalLabel">Enter Last Name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <form method="post">
                                            {% csrf_token %}
                                          <div class="form-group" style="text-align: left;">
                                            <label for="l-name" class="col-form-label">Last Name:</label>
                                            <input type="text" class="form-control" id="l-name" name="lname" required>
                                          </div>
                                      </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Update</button>
                                          </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <div class="bio-row">
                              <p><span class="icon" data-toggle="modal" data-target="#cityModal">
                                  <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit City"></span>
                                  City </span>: {{city}}</p>
                          </div>
                          <div class="modal fade" id="cityModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="lnModalLabel">Enter City</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post">
                                        {% csrf_token %}
                                      <div class="form-group" style="text-align: left;">
                                          <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" required></select>
                                           <select id ="state" class="form-control" required name="sc"></select>
                                           <script language="javascript">print_state("sts");</script>
                                      </div>
                                  </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          <div class="bio-row">
                              <p><span class="icon" data-toggle="modal" data-target="#collegeModal">
                                  <span class="icon fa fa-edit" data-toggle="tooltip" data-placement="top" title="Click to edit College"></span>
                                  College</span>: {{college}}</p>
                          </div>
                          <div class="modal fade" id="collegeModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="collegeModalLabel">Enter College</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post">
                                        {% csrf_token %}
                                      <div class="form-group" style="text-align: left;">
                                          <select id ="col" class="form-control" required name="col"></select>
                                          <script language="javascript">print_college("col");</script>
                                      </div>
                                  </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          <div class="bio-row">
                              <p><span>Email </span>: {{email}}</p>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="row">
                        {% if aoi %}
                          <div class="col-md-6">
                              <div class="panel">
                                  <div class="panel-body">
                                      <div class="bio-desk">
                                          <h4 style="color:#EF233C">Area of Interests</h4>
                                          {% for a in aoi %}
                                           <p style="color:black">{{a}}</p>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endif %}
                          {% if research %}
                          <div class="col-md-6">
                              <div class="panel">
                                  <div class="panel-body">
                                      <div class="bio-desk">
                                          <h4 style="color:#EF233C">Research Projects</h4>
                                          {% for r in research %}
                                           <p style="color:black">{{r}}</p>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endif %}
                      </div>
                  </div>
              </div>

          </div>
        </div>
    </div>
    {% endif %}
    <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
    </script>
    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</body>
</html>
