{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password reset</title>
  <link rel="stylesheet" href="{% static 'CSS/alert.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="icon" type="image/jpg" href="{% static 'Images/pb_logo.jpg' %}">
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'index' %}"><span class="fa fa-home"></span> Home</a>
        <div class="nav-right">
        <a href="{% url 'login' %}"><span class="fa fa-sign-in-alt"></span> Login</a>
        <a href="{% url 'register' %}"><span class="fa fa-user"></span> Register</a>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% for message in messages %}
         {{message}}
        {% endfor %}
    </div>
    <br>
    {% endif %}
      <div class="align">
              <div class="grid align__item">
                  <div class="login">
              <h2>Password Reset</h2>
              <form action="passwordReset" method="post" class="form">
                  {% csrf_token %}
                <div class="form__field">
                  <input class="input_field" name="newPassword" type="password" placeholder="New Password" required>
                </div>
                <div class="form__field">
                  <input class="input_field" name="confirmPassword" type="password" placeholder="Confirm Password" required>
                </div>
                <div class="PR_button">
                  <input type="submit" value="Submit">
                </div>
              </form>
            </div>
      </div>
  </div>
</body>
</html>
