{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="{% static 'Images/pb_logo.jpg' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src=
      "https://smtpjs.com/v3/smtp.js">
    </script>
    <link rel="stylesheet" type= text/css href="{% static 'CSS/login.css' %}">
    <link rel="stylesheet" type = text/css href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type = text/css href="{% static 'css/profile.css' %}">
    <script>
      function toggleButton() {
         var element1 = document.body;
         element1.classList.toggle("dark-mode");
         var element2 = document.getElementById("email");
         element2.classList.toggle("dark-mode");
      }
      </script>
      <style>
        body {
          background-color: #2b2d42;
          color: #edf2f4;
          margin: 0;
          min-height: 100%;
        }
        .dark-mode {
          background-color: #edf2f4;
          color: #2b2d42;
        }
      </style>
</head>
<body>
    <div class="navbarCustom">
        <a href="{% url 'home' %}"><span class="fa fa-home"></span> Home</a>
        <div class="nav-right">
              <div class="dropdown">
                  <div class="dropbtn" onclick="myFunction()"><span class="fa fa-user"></span> {{username}}
                    <span class="fa fa-caret-down"></span>
                  </div>
                  <div class="dropdown-cntnt" id="myDropdown">
                    <a href="{% url 'myProfile' %}"><span class="fa fa-user-circle"></span> My Profile</a>
                    <a href="{% url 'favourites' %}"><span class="fa fa-heart"></span> Favourites</a>
                    <a onclick="toggleButton()"><span class="fa fa-adjust"></span> Toggle Mode</a>
                    <a href="{% url 'logout' %}"><span class="fa fa-sign-out-alt"></span> Logout</a>
                  </div>
              </div>
        </div>
    </div>
    <div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card mt-2">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        {% if img %}
                        <img src="{{img}}" alt="Admin" class="rounded-circle" width="150">
                        {% else %}
                        <img src="https://www.ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png" alt="Admin" class="rounded-circle" width="150">
                        {% endif %}
                        <div class="mt-3">
                          <h4>{{name}}</h4>
                          <p id='status_text' class='text-secondary mb-0'><span class="indicator online" id="status"></span>Unavailable</p>
                          <p class="text-secondary mb-0">{{position}}
                              {% if same_user %}
                                <span data-toggle="modal" data-target="#posModal">
                                  <span role="button" class="fa fa-edit mx-1" data-toggle="loc_tooltip" data-placement="top" title="Click to edit Position"> </span>
                                </span> {% endif %}
                          </p>
                          <div class="modal fade" id="posModal" tabindex="-1" role="dialog" aria-labelledby="posModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="posModalLabel">Enter Position</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group" style="text-align: left;">
                                          <label for="e_pos" class="col-form-label">Enter your Position:</label>
                                          <input type="text" class="form-control" id="e_pos" name="e_pos" required>
                                        </div>
                                  </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          <p class="text-muted font-size-sm">{{department}}
                              {% if same_user %}
                                <span data-toggle="modal" data-target="#deptModal">
                                  <span role="button" class="fa fa-edit mx-1" data-toggle="loc_tooltip" data-placement="top" title="Click to edit Department"> </span>
                                </span> {% endif %}
                            </p>
                            <div class="modal fade" id="deptModal" tabindex="-1" role="dialog" aria-labelledby="deptModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="deptModalLabel">Enter Department</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form method="post">
                                          {% csrf_token %}
                                          <div class="form-group" style="text-align: left;">
                                            <label for="dept" class="col-form-label">Enter your department:</label>
                                            <input type="text" class="form-control" id="dept" name="e_dept" required>
                                          </div>
                                    </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messageModal" data-recepient={{email}}>Message</button>
                          <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="messageModalLabel">New message</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form>
                                      <div class="form-group" style="text-align: left;">
                                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                                        <input type="text" class="form-control" id="recipient-name" readonly>
                                      </div>
                                      <div class="form-group" style="text-align: left;">
                                        <label for="message-text" class="col-form-label">Message:</label>
                                        <textarea class="form-control" id="message-text" required></textarea>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="sendEmail()">Send message</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
          <div class="card mt-3">
            <h5 class="d-flex justify-content-center mt-3">Bio
                {% if same_user %}
                  <span data-toggle="modal" data-target="#bioModal">
                    <span role="button" class="fa fa-edit mx-1" data-toggle="loc_tooltip" data-placement="top" title="Click to edit Bio"> </span>
                  </span> {% endif %}</h5>
                  <div class="modal fade" id="bioModal" tabindex="-1" role="dialog" aria-labelledby="bioModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="bioModalLabel">Enter Bio:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group" style="text-align: left;">
                                  <label for="e_bio" class="col-form-label">Enter your Bio:</label>
                                  <textarea class="form-control" id="e_bio" name="e_bio" required></textarea>
                                </div>
                          </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
            <p>{{bio}}</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3 mt-2">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{name}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary" id="teach_email">
                  {{email}}
                  <span role="button" class="fa fa-clipboard mx-1" data-toggle="loc_tooltip" data-placement="top" title="Click to copy Email" onclick="copyEmail()"> </span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Location</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{location}}
                  <a style="color:grey;" href="http://maps.google.com/?q={{location}}" data-toggle="loc_tooltip" data-placement="top" title="Click to view location in map"><span class="fa fa-search-location"></span></a>
                  {% if same_user %}
                    <span data-toggle="modal" data-target="#locModal">
                      <span role="button" class="fa fa-edit mx-1" data-toggle="loc_tooltip" data-placement="top" title="Click to edit Location"> </span>
                    </span> {% endif %}
                </div>
                <div class="modal fade" id="locModal" tabindex="-1" role="dialog" aria-labelledby="locModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="locModalLabel">Enter Location:</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method="post">
                              {% csrf_token %}
                              <div class="form-group" style="text-align: left;">
                                <label for="e_loc" class="col-form-label">Enter the Location where you work:</label>
                                <input type="text" class="form-control" id="e_loc" name="e_loc" required>
                              </div>
                        </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Department</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{department}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Available Hours</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  9AM to 4PM
                </div>
              </div>
            </div>
          </div>
          <div class="row gutters-sm">
            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="d-flex align-items-center mb-3">Areas of Interest</h6>
                  {% for a in aoi %}
                   <ul>{{a}}</ul>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="d-flex align-items-center mb-3">Ongoing Research Projects
                      {% if same_user %}
                        <span data-toggle="modal" data-target="#researchModal">
                          <span role="button" class="fa fa-plus mx-1" data-toggle="loc_tooltip" data-placement="top" title="Click to add Research"> </span>
                        </span> {% endif %}</h6>
                  {%if research %}
                    {% for r in research %}
                        <ul>{{r}}</ul>
                    {% endfor %}
                  {% else %}
                  <div class="col-sm-9 text-secondary">
                    Nothing here yet
                  </div>
                  {% endif %}
                  <div class="modal fade" id="researchModal" tabindex="-1" role="dialog" aria-labelledby="researchModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="researchModalLabel">New Research</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="col">Select Areas of interest</label>
                                  <select name="aois" class="form-control">
                                      {% for entry in aoi %}
                                          <option value="{{entry}}">{{entry}}</option>
                                      {% endfor %}
                                      </select>
                                  </div>
                              <div class="form-group" style="text-align: left;">
                                <label for="recipient-name" class="col-form-label">Research Title:</label>
                                <input type="text" class="form-control" id="research" name="research" required>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save Research</button>
                              </div>
                            </form>
                          </div>

                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
    </script>
    <script>
    $('#messageModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var recipient = button.data('recepient')
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
        })
    </script>
    <script type="text/javascript">
      function sendEmail() {
          body = document.getElementById('message-text').value
          to_email = document.getElementById('recipient-name').value
          //console.log({{user_mail}})
        Email.send({
  	    SecureToken :"548592e8-ce62-4150-b103-aaa28a67528e",
          To: to_email,
          From: "{{user_mail}}",
          Subject: "Profile Builder",
          Body: body+"<br>Reply to: "+"{{user_mail}}"+"<br><strong>This message was sent by the Profile Builder app : profilebuilder13@gmail.com</strong>",
        })
          .then(function (message) {
            alert("mail sent successfully")
          });
      }
    </script>
    <script>
    getStatus()
    function getStatus() {
        var d = new Date();
        var n = d.getHours();
        var status = document.getElementById("status");
        var st = document.getElementById("status_text").childNodes[1];
        console.log(st);
        if(n>=9 && n<=16){
            status.classList.remove("offline");
            status.classList.add("online");
            st.textContent = ' Available';
        }
        else{
            status.classList.remove("online");
            status.classList.add("offline");
            st.textContent = ' Unavailable';
        }
    }
    </script>
    <script>
$(document).ready(function(){
  $('[data-toggle="loc_tooltip"]').tooltip();
});
</script>
<script>
    function copyEmail() {
        var range = document.createRange();
        range.selectNode(document.getElementById("teach_email"));
        window.getSelection().removeAllRanges(); // clear current selection
        window.getSelection().addRange(range); // to select text
        document.execCommand("copy");
        window.getSelection().removeAllRanges();// to deselect
      alert("Copied the text: " + range);
    }
</script>
</body>
</html>
